
.container2
{
    background-color: #213885;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 20%; 
    margin: 0 auto;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccacc;
}

header
{
    font-weight: bold;
    text-align: center;
    background-color: #5f3475;
    color: #ecdfd2;
    margin: 1%;
}

.contenedor 
{
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.trescolumnas
{
flex-basis: 30%;
padding: 20px;
box-sizing: border-box;
border-radius: 5px;
margin: 10px;
}

.doscolumnas
{
    flex-basis: calc(40% - 20px);
    margin: 10px auto;
    padding: 20px;
    background-color:cadetblue;
    box-sizing: border-box;
    background-color: #5f3475;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 25%; 

}

h2
{
    color: white;
    background-color: #213885;
    border-radius: 5px;
    text-align: center;
}

.columna-izquierda
{
    background-color: #081849;
    text-align: justify;
    color: white;
}

.columna-central
{
    background-color:#081849;
    text-align: justify;
    color: white;
}
.columna-derecha
{
    background-color: #081849;
    text-align: justify;
    color: white;
}

.boton-izquierda
{
    background-color: #893172;
    text-align: center;
    color: white;
}

.boton-central
{
    background-color:#893172;
    text-align: center;
    color: white;
}
.boton-derecha
{
    background-color: #893172;
    text-align: center;
    color: white;
}

.contenedor2 
{
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

footer
{
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}